<div class="row comment-fix">
  <div class="col-md-2">
    <section class="chef_info center">
      <%= gravatar_for(comentario.jogador, size: 60) %>
    </section>
  </div>
  <div class="col-md-8 well well2">
    <p class="font-paragraph3"><%= comentario.description %><p>
    <p>
      <span class="quiet"><small class="font-paragraph">Criado: <span class="font-paragraph4"><%= distance_of_time_in_words(comentario.created_at, Time.zone.now, include_seconds: true, locale: 'pt') %> atrás por 
    <%= comentario.jogador.jogadorname %></span></small></span>
    </p>
  </div>
</div>