<div class="background">
  <div class="inner-div">
    <%= render 'shared/page_title', title: "Mostrando todas as postagens" %>
    
    <div align="center">
      <%= will_paginate @postagens, class: 'pagination' %>
    </div>
    <%= render 'postagem', obj: @postagens %>
    <div align="center">
      <%= will_paginate %>
    </div>
  </div>
</div>